body {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #333;
    text-align: center; 
    font-family: 'Courier New', Courier, monospace; 
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4agp6WxqJMJdq8Du80EXDzrGIuB4ST1u4kw&usqp=CAU'); /* Replace this URL with your image URL */
    background-size: cover;
    background-position: center;
}


header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #aaa;
    padding: 60px 0;
    text-align: center; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 
    display: inline-block;
    margin-right: 20px;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
    text-align: center; 
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-align: center; 
    margin: 70px;
}

main {
    padding: 20px;
    text-align: center; 
}

h1 {
    margin-top: 0;
}

p {
    line-height: 1.6;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center; 
}

table th {
    background-color: #f2f2f2;
}

img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 20px auto; 
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul {
    padding: 0;
    text-align: left; 
}

ul li {
    list-style-type: none;
    margin-bottom: 10px;
    text-align: center; 
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.about-bg {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Marsh_Butte_and_Geikie_Peak%2C_Grand_Canyon.jpg'); /* Replace 'about-background.jpg' with your desired image for the about page */
}

.education-bg {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Marsh_Butte_and_Geikie_Peak%2C_Grand_Canyon.jpg'); /* Replace 'education-background.jpg' with your desired image for the education page */
}

.experience-bg {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Marsh_Butte_and_Geikie_Peak%2C_Grand_Canyon.jpg'); /* Replace 'experience-background.jpg' with your desired image for the experience page */
}

.skills-bg {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/c6/Marsh_Butte_and_Geikie_Peak%2C_Grand_Canyon.jpgg'); /* Replace 'skills-background.jpg' with your desired image for the skills page */
}

